includeConfig 'boostdm.conf'

params {
	boostdm = boostdm  // get parameters from boostdm.conf
}

env {
    GENOME_BUILD = "hg38"
    INTOGEN_DATASETS = "/workspace/datasets/intogen/runs/v2024/20240409_ALL/"
    BOOSTDM_DATASETS = "/workspace/projects/intogen_plus/intogen-plus-v2024/datasets/boostdm/"
    VEP_SATURATION = env.INTOGEN_DATASETS + "/steps/boostDM/saturation/"
    PIPELINE = "/workspace/datasets/boostdm_runs/boostdm-pipeline-2024/"
    OUTPUT = "/workspace/datasets/boostdm_runs/boostdm-cancer-output-2024-noIARC/"
    MAVE_DATA = "/workspace/projects/boostdm_analyses/mave_data/"
}

singularity {
	enabled = true
	cacheDir = "/workspace/datasets/boostdm_runs/singularity_images/"
	runOptions = "-B " + env.PIPELINE + "/containers_build:/boostdm"
}

process {
    cpus = 1
    executor = 'slurm'
    queue = 'normal,bigrun'
    errorStrategy = 'ignore'
    withLabel: boostdm {container = "file:///${singularity.cacheDir}/boostdm.simg"}
    withLabel: vep {container = "/workspace/datasets/vep/homo_sapiens/ensembl-vep_111.0.sif"}
}

profiles {
    bbglab {
        includeConfig 'config/bbglab.conf'
    }
    local {
        includeConfig 'config/local.conf'
    }
}

timeline {
  enabled = true
}

trace {
  enabled = true
  fields = 'process,task_id,hash,name,attempt,status,exit,realtime,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'
}
