includeConfig 'boostdm.conf'

params {
	boostdm = boostdm  // get parameters from boostdm.conf
}

env {
    GENOME_BUILD = "hg38"
    INTOGEN_DATASETS = "/workspace/projects/intogen_plus/fixdatasets-20230223/intogen-plus/run_20230224_ALL/intogen_analysis/"
    BOOSTDM_DATASETS = "/workspace/projects/intogen_plus/fixdatasets-20230223/intogen-plus/datasets/boostdm/"
    VEP_SATURATION = env.INTOGEN_DATASETS + "/steps/boostDM/saturationHotFIX/"
    PIPELINE = "/workspace/datasets/boostdm_runs/boostdm-pipeline-20230307/"
    OUTPUT = env.PIPELINE + "/output_20230710/"
}

singularity {
	enabled = true
	cacheDir = env.PIPELINE
	runOptions = "-B " + env.PIPELINE + "/containers_build:/boostdm"
}

process {
    cpus = 1
    errorStrategy = 'ignore'
    withLabel: boostdm {
	container = "file:///${singularity.cacheDir}/boostdm.simg"
    }
}

profiles {
    bbglab {
        includeConfig 'config/bbglab.conf'
    }
    local {
        includeConfig 'config/local.conf'
    }
}

timeline {
  enabled = true
}

trace {
  enabled = true
  fields = 'process,task_id,hash,name,attempt,status,exit,realtime,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'
}
