includeConfig 'boostdm.conf'

params {
	boostdm = boostdm  // get parameters from boostdm.conf
}

env {
    GENOME_BUILD = "hg38"
    INTOGEN_DATASETS = "/workspace/projects/intogen_plus/fixdatasets-20230223/intogen-plus/run_20230224_ALL/intogen_analysis/"
    BOOSTDM_DATASETS = "/workspace/projects/intogen_plus/fixdatasets-20230223/intogen-plus/datasets/boostdm/"
    VEP_SATURATION = env.INTOGEN_DATASETS + "/steps/boostDM/saturation_clean/"
    PIPELINE = "/workspace/datasets/boostdm_runs/boostdm-pipeline-20230307"
    OUTPUT = env.PIPELINE + "/output"

    /* old stuff */
    
    // CANONICAL_REGIONS = "/workspace/datasets/boostdm_runs/boostdm-pipeline-20230307/canonical.regions.gz"
    // VEP_VERSION = "92"
    // INTOGEN_DATASETS = "/workspace/projects/intogen_2017/pipeline/datasets/hg38_vep92_v20191009"
    // DRIVERS_PATH = env.INTOGEN_DATASETS + "/drivers.tsv"
    // COHORTS_PATH = env.INTOGEN_DATASETS + "/cohorts.tsv"
    // VEP_SATURATION = env.INTOGEN_DATASETS + "/steps/boostDM/saturation/"
    // BGDATA_LOCAL = env.INTOGEN_DATASETS + "/bgdata"
    // INTOGEN_FOLDER = "/workspace/projects/intogen_2017/runs/20200102"
    // HARTWIG_FOLDER = "/workspace/projects/hartwig/intogen/runs/20200117_20200121"
    // STJUDE_FOLDER = "/workspace/projects/stjude/intogen/runs/20191022"

}

singularity {
	enabled = true
	cacheDir = env.PIPELINE
	runOptions = "-B " + env.PIPELINE + "/containers_build:/boostdm"
}

process {
    cpus = 1
    errorStrategy = 'ignore'
    withLabel: boostdm {
    	container = "file:///${singularity.cacheDir}/boostdm.simg"
    }
}

profiles {
    bbglab {
        includeConfig 'config/bbglab.conf'
    }
    local {
        includeConfig 'config/local.conf'
    }
}

timeline {
  enabled = true
}

trace {
  enabled = true
  fields = 'process,task_id,hash,name,attempt,status,exit,realtime,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'
}
